.logo{
    background-color: dodgerblue;
    padding-top: 40px;
    padding-bottom: 40px;
    } 

    #logo_img{

        height: 30px;
        
    }

    #text_color{
        color: dodgerblue ;

    }
    p{
        line-height: 0.2;
        
    }
    #font_size{
        font-size: small;
    }
    
         
    
  
  

    

   